---
import "../styles/global.css";
// import Counter from "../components/Counter.tsx"; // Test component

import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Tabs from "../components/AboutMeTabs.tsx";
import ProjectCard from "../components/ProjectCard.astro";
import DownloadCV from "../components/DownloadCV";
import SkillsTextCycle from "../components/SkillsTextCycle.tsx";
---

<!-- <div class="bg-blue-500 text-white p-8 rounded-lg">Tailwind is working!</div>
<h1 class="text-3xl font-bold mb-4">Astro + React (TS)</h1>
<Counter client:load /> -->
<BaseLayout title="Home">
  <NavBar />
  <main class="py-32">
    <!-- Section 1 -->
    <div class="my-3 max-w-4xl ml-6 sm:ml-10 md:ml-20 lg:ml-40">
      <p class="text-2xl md:text-3xl lg:text-4xl font-semibold">Hi, I'm</p>
      <h1 class="text-6xl lg:text-8xl font-bold my-3">Zyrex Djewel</h1>
      <p class="sm:text-xl md:text-xl lg:text-2xl font-medium mt-10 pr-4">
        Aspiring full-stack developer with experience in
      </p>
      <div class="py-4">
        <SkillsTextCycle client:load />
      </div>
      <DownloadCV client:load />
    </div>
    <!-- Section 2 -->
    <div class="bg-[#1C1C1C] mt-64 pb-16 min-h-[760px]">
      <div class="text-center max-w-4xl mx-auto px-4">
        <h3 class="text-2xl md:text-4xl text-[#F5F5F5] font-semibold pt-16">
          About Me
        </h3>
        <p
          class="text-sm md:text-base lg:text-xl text-[#F5F5F5] font-medium my-4"
        >
          As an aspiring software developer with a passion for system
          development and digital transformation, I am a computer science
          graduate from the University of the Philippines Visayas. I am
          continuously honing my skills and am eager to create digital solutions
          for society.
        </p>
        <div class="flex justify-center gap-6">
          <Tabs client:load />
        </div>
      </div>
    </div>
    <!-- Section 3 -->
    <div class="mt-10">
      <div class="text-center max-w-4xl mx-auto px-4">
        <h3 class="text-2xl md:text-4xl text-[#1C1C1C] font-bold">Projects</h3>
        <p class="text-sm md:text-base lg:text-xl text-[#1C1C1C] pt-4">
          Take a look at my selected projects in software engineering and other
          computer science field
        </p>
        <button
          class="text-sm md:text-base lg:text-xl mt-2 lg:mt-4 px-4 py-2 bg-[#C69749] text-white font-semibold rounded-md shadow hover:bg-[#a87c37] transition"
        >
          <a href="/projects">View All</a>
        </button>
      </div>

      <div class="pt-10">
        <!-- Project 1 -->
        <ProjectCard
          image="/projects/seaxchange.png"
          title="SeaXChange"
          description="SeaXChange is a blockchain driven web application system, intended for providing traceability of products within small-scale  tuna supply chain. "
          technologies="Developed using Hyperledger Fabric, Docker, GCP, Next.js, and Node.js with Express.js."
          link="https://github.com/jeffrouzel/SeaXChange-Web.git"
        />
        <!-- Project 2 -->
        <ProjectCard
          image="/projects/magsasakay.png"
          title="Magsasakay"
          description="A commute app intended for locals and tourists of Iloilo City."
          technologies="React, Node.js, Express.js, MongoDB, Leaflet"
          link="https://github.com/KristianLyle/Magsasakay.git"
        />
        <!-- Project 3 -->
        <ProjectCard
          image="/projects/pawlorie.png"
          title="Pawlorie"
          description="A mobile app for tracking calories for different dog breeds."
          technologies="Flutter, Firebase"
          link="https://drive.google.com/drive/u/0/folders/1CLrktpdMVsoL1vYd78AbCGfy6aNsVHZt"
        />
      </div>
    </div>
    <!-- Section 4 -->
    <div class="pt-20">
      <div class="lg:pl-40 text-center lg:text-left">
        <h3 class="text-2xl md:text-4xl text-[#1C1C1C] font-bold">
          Latest Achievement
        </h3>
        <button
          class="md:text-lg lg:text-2xl mt-2 lg:mt-4 px-4 py-2 bg-[#C69749] text-white font-semibold rounded-md shadow hover:bg-[#a87c37] transition"
        >
          <a href="/milestones"> Previous Milestones </a>
        </button>
      </div>
      <div
        class="flex flex-col-reverse lg:flex-row items-center justify-between pt-10"
      >
        <!-- Description -->
        <div
          class="mt-6 lg:mt-0 text-center lg:text-left flex-1 lg:pr-20 lg:pl-40 max-w-2xl"
        >
          <p class="px-14 lg:px-0 md:text-lg lg:text-2xl text-[#1C1C1C]">
            I recently finished my 4 years Bachelor’s Degree in Computer Science
            at the University of the Philippines Visayas. For my last academic
            year, I achieved University and College Scholar (Dean’s List) status
            for the first and second semester respectively.
          </p>
        </div>
        <!-- Image -->
        <div class="flex-shrink-0 sm:pt-10 lg:pr-40">
          <img
            src="/activities/graduation.jpeg"
            alt="Graduation"
            class="w-60 h-60 md:w-80 md:h-80 lg:w-100 lg:h-100 object-cover rounded-md"
          />
        </div>
      </div>
    </div>
  </main>
  <div id="contact">
    <Footer />
  </div>
</BaseLayout>
