---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import MilestoneCard from "../components/MilestoneCard.astro";
---

<BaseLayout title="Milestones">
  <NavBar />
  <main>
    <div class="py-6 gap-y-4 mt-10 mb-5">
      <div class="flex justify-center">
        <h1 class="text-3xl font-bold text-center">
          Previous Accomplishments <br />and Milestones
        </h1>
      </div>
    </div>
    <MilestoneCard
      image="/activities/08_commencement.jpeg"
      title="Graduated with a Bachelor's Degree in Computer Science"
      description="Graduated from the University of the Philippines - Visayas with a Bachelor of Science in Computer Science degree."
    />
    <MilestoneCard
      image="/activities/07_sp.jpeg"
      title="Special Problem Defense"
      description="Successfully defended my Special Problem (SP) project, which involved developing a web application for tuna supply chain traceability."
    />
    <MilestoneCard
      image="/activities/06_gamedev.jpeg"
      title="Special Topic Final Project Defense"
      description="Successfully defended our Special Topic Final Project (Game Development)."
    />
    <MilestoneCard
      image="/activities/03_internship.jpg"
      title="Internship"
      description="Completed an internship at Prometheus PH as a Junior Software Developer."
    />
    <MilestoneCard
      image="/activities/01_komsaihack.jpeg"
      title="Komsai Hack 2024"
      description="Participated in Komsai Hack 2024 hosted by UPV Komsai.org."
    />
  </main>
  <Footer />
</BaseLayout>
